.login-setting-btn{
  font-size: .6rem;
}
.logoImg{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  border: #ff0000 solid .01rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.login-btn{
  display: block;
  padding-top: .34rem;
  width: 6rem;
  margin: auto;
}
.login{
  //margin: auto;
  //width: 50%;
}
